.no-events {
  background: #fff;
  min-height: 110px;
  border-radius: 4px;
}

.no-events p {
  color: #f44336;
  font-weight: 500;
  font-size: 20px;
}

.kids {
  background: #64312d;
}

.btn-event {
  padding: 8px 14px;
  border-radius: 5px;
  border: 1px solid #f44336;
  background: #f44336;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.price-from,
.price-to {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  height: 100%; /* Set the height of the container */
  margin: 0; /* Remove any default margin */
}

.event-note-text {
  font-size: 12px;
}
.event-note-text i {
  color: #f44336;
}

.btn-tickets {
  padding: 6px 12px;
  border-radius: 6px;
  background: var(--dark);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.btn-tickets:hover {
  background: #9bb8cd;
  color: var(--dark);
  box-shadow: 0 0 3px #9bb8cd;
}
.text-dark-blue {
  color: var(--dark);
}

/* Media queries */
@media (max-width: 768px) {
  .events-section
    .MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-o69gx8-MuiCardMedia-root {
    min-height: 350px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .mui-header-title {
    font-size: 16px;
  }
}
