.contact-details {
  background: var(--dark);
}
.mail-link {
  transition: all 0.2s ease-in-out !important;
}
.mail-link:hover {
  color: #9bb8cd !important;
  transition: all 0.2s ease-in-out !important;
}
.btn-contact {
  border-radius: 6px;
  background: #9bb8cd;
  color: var(--dark);
  text-transform: uppercase;
  border: none;
  padding: 6px 12px;
  transition: all 0.2s ease-in-out;
}

.btn-contact:hover {
  transition: all 0.2s ease-in-out;
  background: #c3def1;
}
