:root {
  --primary-color: #fff9fd;
  --light: white;
  --dark: #17283d;
  /* --link-hover: #fffcfcc8; */
  --link-hover: #ff32329d;
  --backgorund-color: #f44336;
}

/* background */
.bg-image {
  /* background-image: url(/background-final-project-coding-v2\ -\ Copy.png) !important; */
  /* background-image: url(/public/footer-ai-img-cropped-edited.png) !important; */
  /* background-repeat: no-repeat !important; */
  /* background-size: cover !important; */
  background-color: var(--backgorund-color) !important;
}

/* text */
* {
  color: var(--light);
}

/* wrapping */
nav {
  display: flex;
  flex-wrap: wrap;
  border: var(--dark) solid 5px;
}

/* containers */
.socials-container,
.pages-container {
  display: flex;
  align-items: center;
}

.socials-container {
  margin-right: 6px;
}

.pages-container {
  padding: 2%;
}

.date-container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5%;
  border: var(--dark) solid 5px;
  border-top: hidden;
}

/* media icons */
.spacing {
  margin: 5px;
  padding: 2px;
}

/* logo & title */
.logo span {
  margin-left: 5%;
}

/* link decorations */
a {
  text-decoration: none;
  color: var(--light);
}

.link:hover {
  background-color: var(--link-hover) !important;
  border-radius: 10%;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4) !important;
}

/* date*/
.date-container p {
  margin-top: 16px;
  color: var(--dark) !important;
}

/* media queries */
@media screen and (max-width: 773px) {
  nav {
    align-items: center !important;
    justify-content: center !important;
  }
  .socials-container {
    align-items: center !important;
    justify-content: center !important;
  }
  .pages-container {
    border-top: 2px solid var(--dark);
  }
}

@media screen and (max-width: 528px) {
  .socials-container {
    border-top: 2px solid var(--dark);
    padding: 2%;
  }
}

@media screen and (max-width: 375px) {
  .socials-container,
  .pages-container {
    display: none !important;
  }
}
